<script id="character-details-partial" type="text/x-handlebars-template">
	<div class="character-details">
		<h2>{{name}}</h2>
		{{formatName name house.seat}}
		<p>{{formatPhoneNumber house.phone}}</p>
		{{#with house}}
		{{#if name}}<p>House: {{#makeBold}}{{name}}{{/makeBold}}</p>{{/if}}
		{{#if words}}<p>Words: {{words}}</p>{{/if}}
		{{#if seat}}<p>Seat: {{seat}}</p>{{/if}}
		{{/with}}
		{{#if location}}<p>Whereabouts:{{#toLower}}{{location}}{{/toLower}}</p>{{/if}}
		{{#unless location}}<p>Whereabouts are unknown...</p>{{/unless}}
	</div>		
</script>