<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>15 JSON to Firebase | Handlebars training</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<h1>Game of Thrones</h1>
	<ul class="character-list-container"></ul>

	<script id="character-template" type="text/x-handlebars-template">
		{{#each characters}}
		<li class="character">
			<img src="images/{{shortCode}}.jpg">
			{{> characterDetailsPartial}}
			<a href="cast-details.html?id={{@index}}" class="button view-details">View details &#8674;</a>
		</li>
		{{/each}}
	</script>
	
	<script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
	<script src='js/jquery-2.2.3.min.js'></script>
	<script src='js/handlebars-v4.0.5.js'></script>
	<script src='js/scripts.js'></script>
	
</body>
</html>