<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>13 Drilling into data | Handlebars training</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body class="page-cast-details">
	<h1>Game of Thrones | Cast Details</h1>
	<section class="character-list-container"></section>


	<script id="character-template" type="text/x-handlebars-template">
		<div class="character">
			<img src="images/{{shortCode}}.jpg">
			<div class="character-details">
				<h2>{{name}}</h2>
				{{formatName name house.seat}}
				<p>{{formatPhoneNumber house.phone}}</p>
				{{#with house}}
				{{#if name}}<p>House: {{#makeBold}}{{name}}{{/makeBold}}</p>{{/if}}
				{{#if words}}<p>Words: {{words}}</p>{{/if}}
				{{#if seat}}<p>Seat: {{seat}}</p>{{/if}}
				{{/with}}
				{{#if location}}<p>Whereabouts:{{#toLower}}{{location}}{{/toLower}}</p>{{/if}}
				{{#unless location}}<p>Whereabouts are unknown...</p>{{/unless}}
			</div>
			<a href="index.html" class="button view-details">Back</a>
		</div>
		<div class="character-bio-container">
			<p><strong>Bio: </strong>{{bio}}</p>
		</div>
	</script>

	<script src='js/jquery-2.2.3.min.js'></script>
	<script src='js/handlebars-v4.0.5.js'></script>
	<script src='js/scripts.js'></script>

</body>
</html>