<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>09 Not so flat data | Handlebars training</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<h1>Game of Thrones</h1>
	<ul class="character-list-container"></ul>


	<script id="character-template" type="text/x-handlebars-template">
		{{#each characters}}
		<li class="character">
			<img src="images/{{shortCode}}.jpg">
			<div class="character-details">
				<h2>{{name}}</h2>
				<p>Actor: {{actor}}</p>
				{{#with house}}
				{{#if name}}<p>House: {{name}}</p>{{/if}}
				{{#if seat}}<p>Seat: {{seat}}</p>{{/if}}
				{{#if words}}<p>Words: {{words}}</p>{{/if}}
				{{/with}}
				{{#if location}}<p>Whereabouts:{{location}}</p>{{/if}}
				{{#unless location}}<p>Whereabouts are unknown...</p>{{/unless}}
			</div>
		</li>
		{{/each}}
	</script>

	<script src='js/jquery-2.2.3.min.js'></script>
	<script src='js/handlebars-v4.0.5.js'></script>
	<script src='js/scripts.js'></script>

</body>
</html>